* {
  font-family: 'Montserrat', sans-serif;
}

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
}

h5, h4, h3, h2, h1 {
	color: #606060;
	margin-bottom: 0 !important;
}

h1 {
	font-weight: 900 !important;
}

h2 {
	font-weight: 800 !important;
}

h3 {
	font-weight: 600 !important;
	font-size: 21px !important;
}

h4 {
	font-weight: 600 !important;
}

h5 {
	font-weight: 600 !important;
	font-size: 19px !important;
}

a {
	text-decoration: none !important;
}

p {
	font-size: 14px;
	color: #808080;
}

hr {
	margin-top: 4px !important;
	margin-bottom: 8px !important;
}

/*Page Wrapper*/
.wrapper {
	overflow: scroll;
	height: 100%;
	width: 100%;
	background-color: #F5F5F5;
}

.wrapper .inner-wrap {
	min-width: 900px;
	max-width: 1100px;
	height: 100%;
	padding: 10px 40px;
    margin:0 auto;
    background-color: #F5F5F5;
}

/*Navbar Wrapper*/
.nav-wrapper {
	padding-top: 5px;
	padding-bottom: 20px;
	overflow: hidden;
}

.nav-wrapper ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	float: right;
	display: inline-block;
}

.nav-wrapper ul li {
	float: right;
}

.nav-wrapper a {
	text-decoration: none;
	color: black;
	font-weight: 700;
}

.nav-wrapper ul li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	font-size: 18px;
}

.nav-wrapper a:hover {
	color: #787878;
}

.nav-wrapper ul li a:hover {
	background-color: #FBFBFB;
}

.nav-wrapper .banner {
	width: 1020px;
	height: 130px;
	margin: 10px 0;
}

.logo {
	display: inline-block;
}

.logo a {
	font-size: 32px;
}

/*Navbar Banner*/
.title-container {
	position: relative;
}

.title {
  position: absolute;
  top: 55px;
  left: 60px;
}

.title h2 {
	margin: auto auto;
	padding: 5px;
	color: white;
	/*text-decoration: bold;*/
}

.social-1 {
	position: absolute;
	bottom: 20px;
	right: 70px;
	border: 1px solid white;
	background-color: white;
	border-radius: 50%;
}

.social-2 {
	position: absolute;
	bottom: 20px;
	right: 20px;
	border: 1px solid white;
	background-color: white;
	border-radius: 50%;
}


/*Main Content*/
.main {
    background-color: white;
	display: block;
	overflow: hidden;
	margin-bottom: 20px;
	padding: 20px 50px;
}


/*Home Content*/
.home .content {
	width:60%;
	padding: 10px;
	display: inline-block;
}

.home .sidebar {
	padding: 10px;
	float: right;
	width: 35%;
	display: inline-block;
}

.home .sidebar .text-block {
	padding-bottom: 10px;
}


/*Portfolio*/

.portfolio a {
	color: #7e7e7e;
	font-style: italic;
	font-size: 15px;
}

.portfolio a:hover{
	color: #111;
	text-decoration: underline !important;
}

.portfolio .content {
	padding-left: 6px;
}


/*About*/
.about .profile-container {
	display: block;
	width: 360px;
	margin: 0 auto;
}

.about .profile-container .subtitle {
	display: block;
	width: 67px;
	margin: 0 auto;
	/*background-color: red;*/
}

.about .profile-container img {
	width: 300px;
	height: 320px;
	margin: 15px 30px 8px 30px;
	border-radius: 50%;
}

.about .profile-container .subtitle p {
	font-size: 8px;
	font-style: italic;
}

.posts .post {
	padding: 10px 30px;
}

.posts .post:hover {
	background-color: #F8F8F8;
}

.contact p.label {
	color: #707070;
	margin: 15px 0 2px 0;
	font-size: 15px;
	font-weight: 600;
}

.contact .comment-container {
	text-align: center;
}

.contact .comment-container .comment {
	display: inline-block;
	margin: 0;
	font-size: 16px;
}

.contact .submit-btn-container {
	width: 50px;
	margin: 10px auto 0 auto;
}

.contact {
	display: block;
}

.footer-wrapper {
    background-color: #F5F5F5;
}

.footer-wrapper p {
	color: #404040;
	text-align: center;
}