body {
	font-family: "Times New Roman", Times;
	/*background-color: grey;*/
}

.wrapper {
	min-width: 900px;
	max-width: 1100px;
	padding: 10px 40px;
	/* center horizontally */
    margin:0 auto;
}

.nav-wrapper {
	padding-top: 5px;
	padding-bottom: 20px;
}

.nav-wrapper ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	float: right;
	display: inline-block;
}


.nav-wrapper ul li {
	float: right;
}

.nav-wrapper ul li a, .dropdown button {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: #0000A0;
	font-weight: bold;
	font-size: 18px;
}

.nav-wrapper ul li a:hover {
	color: #111;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	border: none;
	outline: none;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	float: none;
	text-decoration: none;
	display: block;
	text-align: left;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

.logo {
	display: inline-block;
}

.logo a {
	font-size: 32px;
	color: #0000A0;
	text-decoration: none;
}

.logo a:hover {
	color: #111;
}

.main {
	background-color: white;
	display: inline-block;
	margin-bottom: 20px;
	padding: 0 50px;
}

.main p {
	color: #7e7e7e;
}

.main h3 {
	color: #545454;
}

.main a {
	color: #7e7e7e;
	text-decoration: underline;
	font-style: italic;
}

.main a:hover{
	color: #111;
}

.about .profile-container {
	display: block;
	width: 360px;
	margin: 0 auto;
}

.about .profile-container .subtitle {
	display: block;
	width: 67px;
	margin: 0 auto;
	/*background-color: red;*/
}

.about .profile-container img {
	width: 300px;
	height: 320px;
	padding: 20px 30px 0px 30px;
	border-radius: 50%;
}

.about .profile-container .subtitle p {
	font-size: 10px;
	font-style: italic;
}

.home .content {
	width:70%;
	padding: 10px;
	display: inline-block;
}

.home .sidebar {
	padding: 10px;
	float: right;
	width:25%;
}

.portfolio .content {
	padding-left: 10px;
}

.footer-wrapper p {
	color: #404040;
	text-align: center;
}